@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{
    /*Paleta de Cores*/
    --principal: #FEF9E6;
    --secundaria: #02232C;
    --preto: #333;
    --azul: #5CCAC4;
    --vermelho: #FE5E48;
    

    /*Tipografia*/
    --font-family: "Quicksand", sans-serif;

    /*--elemento-atributo-plataforma(d = desktop|m = mobile)*/
    --title-weight: <600>;
    --titleG-size-d: 2.5rem;
    --titleM-size-d: 2rem;
    --titleP-size-d: 1.5rem;
    --titleG-size-m: 2rem;
    --titleM-size-m: 1.5rem;
    --text-weight: <400>;
    --text-size-d: 1rem;
    --text-size-m: 0.8rem;
    --link-size-d: 1.2rem; /*Tamanho do texto dos botões - desktop*/
    --link-size-m: 1rem; /*Tamanho do texto dos botões - mobile*/
}

/*Algumas definições gerais*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

section {
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: var(--secundaria);
}

.info {
    color: rgb(189, 189, 189);
}

#btn-cadastrar{
    background-color: var(--secundaria);
}