:root{
    /*Paleta de Cores*/
    --principal: #FEF9E6;
    --secundaria: #02232C;
    --preto: #333;
    --azul: #5CCAC4;
    --vermelho: #FE5E48;
    

    /*Tipografia*/
    --font-family: "Quicksand", sans-serif;

    /*--elemento-atributo-plataforma(d = desktop|m = mobile)*/
    --title-weight: <600>;
    --titleG-size-d: 2.5rem;
    --titleM-size-d: 2rem;
    --titleP-size-d: 1.5rem;
    --titleG-size-m: 2rem;
    --titleM-size-m: 1.5rem;
    --text-weight: <400>;
    --text-size-d: 1rem;
    --text-size-m: 0.8rem;
    --link-size-d: 1.2rem; /*Tamanho do texto dos botões - desktop*/
    --link-size-m: 1rem; /*Tamanho do texto dos botões - mobile*/
}

body {
    display: table;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    color: var(--principal);
}

.delete-meal{
    background-color: var(--vermelho);
    border: none;
}
.delete-meal:hover{
    background-color: var(--vermelho);
    border: none;
}

.add-food{
    background-color: var(--secundaria);
    border: none;
}
.add-food:hover{
    background-color: var(--secundaria);
    border: none;
}

.save-meal{
    background-color: var(--azul);
    border: none;
}
.save-meal:hover{
    background-color: var(--azul);
    border: none;
}

.container-fluid { padding: 0; }

#meals, .meal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meal {
    margin-top: 2vw;
    padding: 2vw;
    border: #ffc107 solid 0.5vw;
    border-radius: 3vw;
}

h3 { color: var(--preto); }

.foods-list > :not(:first-child) { margin-top: 1vw; }



#create-meal-button {
    background-color: #ffc107;
    border-radius: 100%;
    transition: 0.3s;
    display:inline-block; 
    position: relative;
}
#create-meal-button:hover {
    transform: scale(1.2);
    background-color: var(--preto);
    border: solid 0.1vw #ffc107;
}
#create-meal-button > svg { width: 50px; }
#create-meal-button > svg:hover { fill:#ffc107; }

#create-meal {
    position: fixed;
    z-index: 2;
    bottom: 15%;
    margin: 0 auto;
    text-align: center;
    text-align: center;
}

#create-meal-tooltip {
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    direction: ltr;
    color: rgba(255,255,255,0);
    transition: .5s;
    transform: translateX(-20px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateX(0%);
    opacity:0;
}

#create-meal-button:hover #create-meal-tooltip {
    color: #ffc107;
    opacity: 1;
    background-color: var(--preto);
    border: solid 0.1vw #ffc107;
    transform: translate(-50%, -50%) translateX(100%);
}

.text-warning{
    color: var(--vermelho) !important
}

input {
    background-color: transparent;
    color: white;
    border: none;
    width: 100%;
}

.meal > input {
    display: inline-block;
    font-size: xx-large;
    margin-right: auto;
}

.create-new-food > svg, .cancel-new-food > svg { fill: white; }



@media screen and (min-width: 992px) {    
    .new-food-form > div > :nth-child(n+4) { margin-top: 1vw; }
    .confirm-new-food { margin-top: 1vw; }

    .food-info-display > div > :nth-child(n+3) { margin-top: 1vw; }
    .food-info-interactions .delete-food { margin-top: 1vw; }
}

@media screen and (max-width: 991px) {
    .new-food-buttons .row { justify-content: space-between; }
    .new-food-form > div > div, .food-info-display > div > div { margin-bottom: 1.5vw; }
    .new-food-form > div > div { padding: 0; }
}

@media screen and (max-width: 767px) {
    .food-dropdown > div:first-child { margin-bottom: 1.5vw; }
}